*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth
}

.section-container{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section{
    height: auto;
}

.background-section img, .background-products img{
    width:100%;
    height:auto;
}
.section-one{
    width: 100vw;
    height: auto;
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/paper.png);

}
.card-container{
    background: rgb(216, 100, 33, 6);
    border-radius: 25px;
    padding: 25px;
    max-width: 700px;
    position: top;

}
input{
    min-width: 300px;
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
    border:solid 0.3px #333;
    border-radius: 14px;
    background-color: rgb(214, 196, 172);
    color: brown;
}

form{
    display: grid;
}

.background-products{
    width: 100vw;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    width:100vw;
    height: auto;
    padding: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-image: url(../assets/footer.png);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.footer img{
    height:30px;
    width:30px;
}